:root {
    --bg-color: #0a0a0a;
    --main-color: #f0f0f0;
    --text-color: #d6d6d6;
    --highlight-color: #ff0000;
}
.logo{
    background-image: url(./../img/White\ logo.png);
}
.heart {
    color: rgb(255, 152, 255);
}