:root {
    --bg-color: #f0f0f0;
    --main-color: #0a0a0a;
    --text-color: #272727;
    --highlight-color: #00629b;

}
.logo {
    background-image: url(./../img/Black\ logo.png);
}
.banner-arrow {
    background-image: url(/asset/img/arrow-black.png);
}
.heart {
    color: rgb(255, 0, 0);
}